<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="quaternary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ list.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">Nuevo item</ion-label>
      <ion-input
        type="text"
        [(ngModel)] = "itemName"
      ></ion-input>
      <ion-icon 
        name="add-circle-outline"
        slot="end"
        style="margin-top: 1rem;"
        color="quaternary"
        (click)="addItemToList()"
      ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="dark">
      <ion-label>Tareas por hacer</ion-label>
    </ion-list-header>

    <ion-item color="dark" *ngFor="let item of list.items">
      <ion-checkbox
        slot="start"
        color="quaternary"
        [(ngModel)]="item.completed"
      >
      </ion-checkbox>
      <ion-label>{{ item.desc }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
